.container{
  background-image: url("../assets/pig-dice.jpg");
  height: 100%;
}

.container-fluid{
  display: none;
  background: url('../assets/giphy.gif');
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  color: white;
}
 header h1{
   text-align: center;
 }
